{% extends 'base.html' %}
{% block title %}ورود با موبایل{% endblock %}

{% block content %}
<div class="card auth-card">
    <div class="auth-header">
        <h4 class="mb-0">ورود به سایت</h4>
        <small>برای ورود شماره موبایل خود را وارد کنید</small>
    </div>
    <div class="card-body p-4">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">شماره موبایل</label>
                <input type="text" name="phone" placeholder="0912..."
                       class="form-control {% if form.phone.errors %}is-invalid{% endif %}">
                
                {% for error in form.phone.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
                
                <!-- ارورهای کلی فرم -->
                {% for error in form.non_field_errors %}
                     <div class="alert alert-danger mt-2 small">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="d-grid mt-4">
                <button type="submit" class="btn btn-custom py-2">ارسال کد تایید</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <a href="{% url 'register' %}" class="text-decoration-none small text-muted">حساب ندارید؟ ثبت نام کنید</a>
        </div>
    </div>
</div>
{% endblock %}